name: deploy-test-pypi

on:
  push:
    tags:
      - "v*"  # Triggers only when you push a tag like v0.1.0
  workflow_dispatch:

jobs:
  unit-test-pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # CRITICAL: Required for Hatch to see the tag!

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tests,dev]

      - name: Run tests with coverage
        run: |
          pytest --cov --cov-report=xml --cov-branch

      - name: Run ruff formatter
        run: |
          #ruff check .
          ruff check src/
        continue-on-error: true

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build-deploy:
    needs: unit-test-pytest
    runs-on: ubuntu-latest
    
    steps:
      - name: Check-out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # CRITICAL: Required for Hatch to see the tag!

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install hatch
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Build package
        run: hatch build

      - name: Publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          verbose: true